@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #111;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 40px 50px;
    width: 450px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: #fff;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    color: #fff;
}

.field {
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 30px;
    color: #000000;
    outline: none;
    transition: all 0.3s ease;
}

.input-field:focus {
    border-color: rgb(210, 228, 244);
    box-shadow: 0 0 10px rgba(141, 205, 242, 0.5);
}

select.input-field {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 35px;
}

input[type="checkbox"] {
    accent-color: rgb(247, 247, 247);
}

button.button1 {
    width: 100%;
    padding: 15px;
    background-color: rgb(127, 222, 254);
    border: none;
    border-radius: 30px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button.button1:hover {
    background-color: rgb(176, 203, 230);
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
}
