@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Josefin Sans", serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black; /* imagem de fundo */
    background-size: cover;       /* deixa a imagem de fundo centralizada */
    background-position: center;  /* deixa a imagem de fundo centralizada */ 
}

.container {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2); /* borda do formulário e a cor */
    border-radius: 10px; /* arredondamento da borda do form */
    color: #fff; /* cor dos textos */
    padding: 30px 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px; /* sombra da borda */
    backdrop-filter: blur(10px);  /* fundo embaçado */
    -webkit-backdrop-filter: blur(10px); /* compatibilidade com Safari */
}

.container h1 {
    font-size: 36px;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;  /* ocupa todo o espaço que conseguir */
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%; /* ocupa espaço disponível */
    height: 100%; /* ocupa espaço disponível */
    background-color: transparent;
    border: 2px solid rgb(124, 120, 120);
    border-radius: 30px;
    outline: none;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;  /* corrigido */
    transition: 0.3s ease;  /* transição suave */
}

.input-box input::placeholder {
    color: #fff;
}

.input-box input:focus {
    border-color: #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* destaque ao focar */
}

.input-box i {  /* ajustando ícones de email e senha */
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);  
    font-size: 20px;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: rgb(0, 0, 0);
    margin-right: 5px;
}

.remember-forgot a {
    text-decoration: none;
    color: #fff;  
}

.remember-forgot a:hover {
    text-decoration: underline; /* quando passar o mouse, aparece underline */
}

.login {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;  /* corrigido */
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    transition: background-color 0.5s, color 0.5s, border 0.5s; /* transição suave */
}

.login:hover {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: #fff;
}

.register-lik {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-lik a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.register-lik a:hover {
    text-decoration: underline;
}

.visitor-login {
    text-align: center;
    margin-top: 10px;
}

.visitor-login a {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.visitor-login a:hover {
    text-decoration: underline;
}
